<div class="dashboard">
  <section class="container">
<h1 class="dashboard-header">Dashboard</h1>
<h1 class="dashboard-header">Hello {{userName}} 👋</h1>
<div>
  <a href="/dashboard/createpost">
  <button id="create-post">Create new post</button>
  </a>
</div>
<br>
      <div>
    <h1 class="dashboard-header">Your current posts:</h1>
    <ul>
      <li>Posts can only be deleted.</li>
    </ul>
    <br>
    </div>
    {{#if posts.length}}
      {{#each posts as |post|}}
          <div class="post-card">
          {{> post-data post}}
          <br>
          <p><button id="btnDelete" class="siteBtn" data-id="{{post.id}}">Delete this post</button></p>
          </div>
      {{/each}}
    {{else}}
<h6>Stop slacking and post something today! :)</h6>
{{/if}}
</section>
</div>
<script src="/js/delete.js"></script>