<div class="dashboard">
<h1 class="dashboard-header">Dashboard</h1>
<hr>
<h1>Hello {{userName}} 👋</h1>
<hr>
<br>
  <a href="/dashboard/create/">
  <button id="create-post">create post</button></a>
<h2 class="title pb-4">dashboard: your posts</h2><hr>
{{#if posts.length}}
    </div>
    {{#each posts as |post|}}
        {{> post-data post}}
            <a href="/dashboard/edit/{{post.id}}"><button>edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6>you do not currently have any posts</h6>

{{/if}}