<div class="dashboard">
<h1 class="dashboard-header">Dashboard</h1>
<h1 class="dashboard-header">Hello {{userName}} 👋</h1>

<div>
  <a href="/dashboard/create/">
  <button id="create-post">Create new post</button>
  </a>
</div>
<br>
<br>
<div>
    <h1>Your current posts:</h1>
    <br>
    </div>
    {{#if posts.length}}
    {{#each posts as |post|}}
        {{> post-data post}}
            <a href="/dashboard/edit/{{post.id}}"><button>Edit this post</button></a>
    {{/each}}

{{else}}
<h6>Stop slacking and post something today! :)</h6>
</div>
{{/if}}