<link rel="stylesheet" href="./css/login.css">
<div class="wrapper">
     <h1>Signup</h1>
    <form class="signUpForm">
      <div class="form-inner">
        <div class="padding-md">
            <label for="username" class="text-color">Username:</label>
            <input id="username-signup" type="text" placeholder="username" />
        </div>
        <div class="padding-md">
            <label for="password-signup">Password:</label>
            <input type="password" placeholder="password" id="password-signup" />
        </div>
        <div class="padding-md">
            <button type="submit" class="siteBtn" id="signup-btn">Signup</button>
        </div>
        </div>
      </form>
</div>

<script src="./js/signup.js"></script>