<section class="container">
  <div class="post-card">
<a id="pageback" class="pageback" href="javascript:history.back()">⬅ Back</a>
<br>
{{> post-data post}}

{{#if logged_in}}
<form class="commentFrm">
  <input type="hidden" id="post_id" name="post_id" value="{{post.id}}">
  <br>
  <div>
    <textarea id="commentTxt" class="commentTxtArea" name="commentTxt"></textarea>
  </div>
  <div>
    <button id="commentBtn" class="siteBtn" type="submit">Add comment</button>
  </div>
  
</form>
{{/if}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
</div>
</section>